<div id="property_images" class="carousel slide w-100 overflow-hidden" data-bs-interval="false" style="height: 33vh; background-color: rgba(0,0,0,0.5)" >
  <div class="carousel-inner w-100 h-100">
    <% images.each_with_index do |image, index| %>
      <div class="carousel-item w-100 h-100 <%= index == 0 ? 'active' : '' %>"  >
        <%= image_tag image['url'], alt: image['title'], class: "h-100 w-100", style: "object-fit: contain" %>
      </div>
    <% end %>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#property_images" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#property_images" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>