---
http_interactions:
- request:
    method: get
    uri: https://api.stagingeb.com/v1/properties?limit=15&page=1&search%5Bstatuses%5D%5B0%5D=published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Authorization:
      - l7u502p8v46ba3ppgvj5y2aad50lb9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"3b284d4d7e9d847e04a94677361cd4b5"
    body:
      encoding: UTF-8
      string: '{"pagination":{"limit":15,"page":1,"total":460,"next_page":"https://api.stagingeb.com/v1/properties?limit=15\u0026page=2\u0026search%5Bstatuses%5D%5B%5D=published"},"content":[{"public_id":"EB-D3662","title":"Beautiful
        property in Condesa.","title_image_full":null,"title_image_thumb":null,"location":"Carmen
        Serdan, Monterrey, Nuevo León","operations":[{"type":"rental","amount":20000.0,"currency":"MXN","formatted_amount":"$20,000","commission":{"type":"percentage"},"unit":"total"}],"bedrooms":1,"bathrooms":1,"parking_spaces":1,"property_type":"Departamento","lot_size":0.0,"construction_size":0.0,"updated_at":"2022-06-03T17:26:08-05:00","agent":null,"show_prices":true,"share_commission":true},{"public_id":"EB-D3668","title":"Beautiful
        property in Condesa.","title_image_full":null,"title_image_thumb":null,"location":"Carmen
        Serdan, Monterrey, Nuevo León","operations":[{"type":"rental","amount":20000.0,"currency":"MXN","formatted_amount":"$20,000","commission":{"type":"percentage"},"unit":"total"}],"bedrooms":1,"bathrooms":1,"parking_spaces":1,"property_type":"Departamento","lot_size":0.0,"construction_size":0.0,"updated_at":"2022-06-06T14:41:41-05:00","agent":null,"show_prices":true,"share_commission":true},{"public_id":"EB-C0156","title":"Casa
        con uso de suelo prueba","title_image_full":"https://assets.stagingeb.com/property_images/30156/116630/EB-C0156.png?version=1598540675","title_image_thumb":"https://assets.stagingeb.com/property_images/30156/116630/EB-C0156_thumb.png?version=1598540675","location":"La
        Punta, Cosío, Aguascalientes","operations":[{"type":"sale","amount":12312312.0,"currency":"MXN","formatted_amount":"$12,312,312","commission":{"type":"percentage","value":"5.0"},"unit":"total"}],"bedrooms":1,"bathrooms":2,"parking_spaces":null,"property_type":"Casa
        con uso de suelo","lot_size":0.0,"construction_size":0.0,"updated_at":"2022-08-07T14:02:08-05:00","agent":"Alejandro
        Blanco Zivec","show_prices":true,"share_commission":true},{"public_id":"EB-C0313","title":"afsdf","title_image_full":null,"title_image_thumb":null,"location":"Ciudad
        Insurgentes, Comondú, Baja California Sur","operations":[{"type":"sale","amount":234223.0,"currenc[...]
